<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">

<HTML>
<HEAD>
<TITLE>A simple frameset document</TITLE>
</HEAD>
<FRAMESET cols="50%, 50%" frameborder=no border=no framespacing=no>
  <FRAMESET rows="50%, 50%" frameborder=20 border=20 framespacing=20 >
      <FRAME src="/top" name="top" marginheight="30px" frameborder=1>
      <FRAME src="/purchaseremove/0" name="purchase" marginheight="30px" frameborder=1>
  </FRAMESET>
  <FRAMESET rows="50%, 50%" frameborder=20 border=20 framespacing=20>
      <FRAME src="/category" name="category">
      <FRAME src="/recommendationremove/0" name="recommendation">
  </FRAMESET>
</FRAMESET>
</HTML>